// ******************************
// Defines used to setup light and dark themes
// ******************************

@use "sass:color" as color;

@import './skss/presets';
@import './skss/mixins';

// Helper functions to replicate lighten() and darken() behavior exactly
// lighten($color, $amount) increases HSL lightness by $amount percentage points
@function lighten-compat($color, $amount) {
  $percent: if(unitless($amount), $amount * 1%, $amount);
  @return color.adjust($color, $lightness: $percent);
}

// darken($color, $amount) decreases HSL lightness by $amount percentage points
@function darken-compat($color, $amount) {
  $percent: if(unitless($amount), -$amount * 1%, -$amount);
  @return color.adjust($color, $lightness: $percent);
}

@mixin defineColorLight($name, $color) {
  body.body--light {
    .text-#{$name} {
      color: var(#{'--' + $name});
    }

    .bg-#{$name} {
      background: var(#{'--' + $name});
    }

    .border-#{$name} {
      border-color: var(#{'--' + $name});
    }
  }

  :root {
    body.body--light {
      #{"--"+$name}: $color;
    }
  }
}

@mixin defineColorDark($name, $color) {
  body.body--dark {
    .text-#{$name} {
      color: var(#{'--' + $name});
    }

    .bg-#{$name} {
      background: var(#{'--' + $name});
    }

    .border-#{$name} {
      border-color: var(#{'--' + $name});
    }
  }

  :root {
    body.body--dark {
      #{"--"+$name}: $color;
    }
  }
}

@mixin defineColorDarkAndLight($name, $darkColor, $lightColor) {
  @include setGlobalClass($name, $lightColor, 'body--light');
  @include setGlobalClass($name, $darkColor, 'body--dark');
}

@mixin defineColorLightAndDark($name, $lightColor, $darkColor) {
  @include setGlobalColors($lightColor, $darkColor, $name);
}

@mixin defineColor($name, $color) {
  @include defineColorDarkAndLight($name, $color, $color);
}

@mixin defineColorForClass($name, $color, $theme) {
  @include setGlobalClass($name, $color, $theme);
}

@mixin defineColorVariations($name, $baseColor) {
  // Base/medium color
  @include defineColorLightAndDark($name, $baseColor, lighten-compat($baseColor, 10));

  // Variations from lowest to highest
  @include defineColorLightAndDark(
    '#{$name}-lowest',
    lighten-compat($baseColor, 90),
    darken-compat($baseColor, 50)
  );
  @include defineColorLightAndDark(
    '#{$name}-lower',
    lighten-compat($baseColor, 30),
    darken-compat($baseColor, 30)
  );
  @include defineColorLightAndDark(
    '#{$name}-low',
    lighten-compat($baseColor, 20),
    darken-compat($baseColor, 10)
  );
  @include defineColorLightAndDark(
    '#{$name}-medium',
    $baseColor,
    lighten-compat($baseColor, 10)
  );
  @include defineColorLightAndDark(
    '#{$name}-high',
    darken-compat($baseColor, 20),
    lighten-compat($baseColor, 20)
  );
  @include defineColorLightAndDark(
    '#{$name}-higher',
    darken-compat($baseColor, 40),
    lighten-compat($baseColor, 30)
  );
  @include defineColorLightAndDark(
    '#{$name}-highest',
    darken-compat($baseColor, 50),
    lighten-compat($baseColor, 90)
  );
}

@mixin defineColorVariationsLightAndDark($name, $lightColor, $darkColor) {
  // Base/medium color
  @include defineColorLightAndDark($name, $lightColor, $darkColor);

  // Variations from lowest to highest
  @include defineColorLightAndDark(
    '#{$name}-lowest',
    lighten-compat($lightColor, 90),
    darken-compat($darkColor, 50)
  );
  @include defineColorLightAndDark(
    '#{$name}-lower',
    lighten-compat($lightColor, 30),
    darken-compat($darkColor, 30)
  );
  @include defineColorLightAndDark(
    '#{$name}-low',
    lighten-compat($lightColor, 20),
    darken-compat($darkColor, 10)
  );
  @include defineColorLightAndDark('#{$name}-medium', $lightColor, $darkColor);
  @include defineColorLightAndDark(
    '#{$name}-high',
    darken-compat($lightColor, 20),
    lighten-compat($darkColor, 20)
  );
  @include defineColorLightAndDark(
    '#{$name}-higher',
    darken-compat($lightColor, 40),
    lighten-compat($darkColor, 30)
  );
  @include defineColorLightAndDark(
    '#{$name}-highest',
    darken-compat($lightColor, 50),
    lighten-compat($darkColor, 90)
  );
}
