// 0 === "off"
// 1 === "warn"
// 2 === "error"
{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint/eslint-plugin", "prettier"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "root": true,
  "env": {
    "node": true
    // "jest": false
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-var-requires": 2,
    "no-unused-expressions": 2
  }
}
